body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/309/original/Untitled_design_-_2024-01-12T144459.012.png?1705092370");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.bigTitle {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  background-color: white;
}
.box1 {
  display: block;
  margin: 0 auto;
  background-color: #36256d;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 50px;
}
.box2 {
  display: block;
  margin: 0 auto;
  background-color: #36256d;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 50px;
}
.box3 {
  display: block;
  margin: 0 auto;
  background-color: #36256d;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
#columns {
  margin-top: 200px;
}
.subText {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 377px;
  font-size: 15px;
  color: #36256d;
}
.title {
  margin: 20px;
}
#bookServicesButton {
  margin: 20px;
  border-radius: 30px;
}
#bookServicesButton:hover {
  background-color: white;
  color: blue;
  font-weight: 700;
}
#navbarNav {
  margin-top: -38px;
  margin-left: 21px;
}
div.container-fluid {
  margin-bottom: -20px;
}
ul.navbar-nav {
  margin-top: -20px;
  padding-bottom: 25px;
  padding-top: 5px;
}
