body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/316/original/Untitled_design_-_2024-01-12T155343.718.png?1705096434");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}
h1 .allServices {
  text-align: center;
  margin: 25px;
  font-weight: 500;
}
img {
  margin-top: -105px;
}
.navImage {
  margin-top: -30px;
  padding-top: 5px;
}
ul.navbar-nav {
  margin-top: -35px;
  margin-left: 20px;
}
.servicesButtons {
  margin-top: 200px;
  margin-left: 25px;
}

#button1 {
  margin-right: 5px;
}
#button1:hover {
  color: green;
  background-color: white;
}
#button2:hover {
  color: green;
  background-color: white;
}
